@font-face {
  font-family: 'iconfont';  /* Project id 4578671 */
  src: url('//at.alicdn.com/t/c/font_4578671_cx96fytoit.woff2?t=1717860374392') format('woff2'),
       url('//at.alicdn.com/t/c/font_4578671_cx96fytoit.woff?t=1717860374392') format('woff'),
       url('//at.alicdn.com/t/c/font_4578671_cx96fytoit.ttf?t=1717860374392') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e680";
}

.icon-lock:before {
  content: "\e66c";
}

.icon-more-outline:before {
  content: "\e66e";
}

.icon-yingyong:before {
  content: "\e6ae";
}

.icon-fangda:before {
  content: "\e6bb";
}

.icon-suoxiao:before {
  content: "\e6bc";
}

.icon-taiyang:before {
  content: "\e6b4";
}

.icon-yueliang:before {
  content: "\e6b6";
}

.icon-quanjia:before {
  content: "\e6be";
}

.icon-shanchu:before {
  content: "\e6a3";
}

.icon-xiugai:before {
  content: "\e6af";
}

.icon-sousuo:before {
  content: "\e6a6";
}

.icon-zhuye:before {
  content: "\e6b0";
}

.icon-favorites:before {
  content: "\e839";
}

.icon-bilibili:before {
  content: "\e66b";
}

.icon-tiktok:before {
  content: "\e77b";
}

.icon-youtube:before {
  content: "\e883";
}

.icon-send-email::before {
  content: "\e702";
}

.icon-play::before {
  content: "\e600";
}

